html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: 0;
    border-bottom: 1.5px solid #C6C6C6;
}

section{
    margin: 0px;
    padding: 0px;
}

.logo-img{
    height: 60px;
    padding: 0px 15px;
}
.circle-img{
    border-radius: 50%;
    height: 40px;
    padding: 15px 15px;
}

.feed-text{
    align-self: center;
    line-height: 10%;
}

.feed-section{
    display: flex;
    line-height: 5px;
}

.post-img{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.icons-section{
    display:flex;
}

.icons-img{
    padding: 10px 10px;
    height: 24px;
    width: 23px;
}

.likes-section{
    text-align: left;
    margin: 0px;
    padding: 0px 10px;
    
}

.likes-section p{
    margin: 5px 0px;
}

.caption-section{
    text-align: left;
    padding: 0px 10px;
}

.caption-section p{
    margin: 10px 0px 20px 0px;
}

.bold-text{
    font-weight: bold;
}